

<div th:fragment="post-view" class="col-md-8 col-xl-6 grid-margin stretch-card mt-1">
    <div class="card bg-gray-dark rounded">
        <div class="card-body">
            <h5 class="card-title">Visibilidad</h5>
            <div class="">
                <img class="w-100 p-1" th:src="@{/images/dashboard/img_2.jpg}" alt="">
                <div class="d-flex py-4">
                    <div class="preview-list w-100">
                        <div class="preview-item p-0">
                            <div class="preview-thumbnail">
                                <img th:src="@{/images/faces/face12.jpg}" class="rounded-circle" alt="">
                            </div>
                            <div class="preview-item-content d-flex flex-grow">
                                <div class="flex-grow">
                                    <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                        <h6 class="preview-subject">CeeCee Bass</h6>
                                        <p class="text-muted text-small">4 Hours Ago</p>
                                    </div>
                                    <p class="text-muted">Well, it seems to be working now.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>