

<nav th:fragment="side" class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
<!--        <a class="sidebar-brand brand-logo" href="index.html"><img th:src="@{/images/logo.svg}" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img th:src="@{/images/logo-mini.svg}" alt="logo" /></a> -->
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div th:if="${mini.avatar!=null}">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle "th:src="@{/images/avatars/}+${mini.avatar}" alt="">
                            <span class="count bg-success"></span>
                        </div>
                    </div>
                    <div th:if="${mini.avatar==null}">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle "th:src="@{/images/avatars/uteq.png}" alt="">
                            <span class="count bg-success"></span>
                        </div>
                    </div> 

                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal" data-th-text="${mini.nombre_us} +' '+ ${mini.apellido_us}"></h5>
                        <span data-th-text="${mini.username}"></span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" th:href="@{/private/posts}">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Inicio</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" th:href="@{/private/usuarios}">
                <span class="menu-icon">
                    <i class="mdi mdi-account-multiple"></i>
                </span>
                <span class="menu-title">Buscar amigos</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" th:href="@{/private/subirPost}">
                <span class="menu-icon">
                    <i class="mdi mdi-polaroid"></i>
                </span>
                <span class="menu-title">Publicar</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" th:href="@{/private/configuracion}">
                <span class="menu-icon">
                    <i class="mdi mdi-settings"></i>
                </span>
                <span  class="menu-title">Configurar perfil</span>
            </a>
        </li>
        <li class="nav-item menu-items"><form method="post" data-th-action="@{/logout}">
            <a href="#" class="nav-link" onclick="this.parentNode.submit();">  
                
                  
                <span class="menu-icon">
                    <i class="mdi mdi-logout"></i>
                </span>
                 
                <span class="menu-title">Cerrar sesión</span> 
                
            </a></form>
        </li>    
    </ul>
</nav>