<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="layouts/header_f :: head">
        <title>La otra pagina</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    <nav th:replace="layouts/navbar_f :: public-nav"></nav>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Login</h3>
                <form method="post" data-th-action="@{/login}">
                  <div class="form-group">
                    <label>Usuario *</label>
                    <input type="text"  name="username" id="username"class="form-control p_input" />
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input type="password" name="password" id="password" class="form-control p_input"/>
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-center">
                    <a th:href="@{/public/recupera}" class="forgot-pass">¿Problemas con tu contraseña?</a>
                  </div>
                  <div class="text-center">
                    <input class="btn btn-primary btn-block enter-btn" type="submit" value="Ingresar"/>
                  </div>
                  <div class="d-flex">
                  </div>
                  <p class="sign-up">¿No tienes una cuenta?<a th:href="@{/public/registro}"> Sign Up</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>        
        
        <footer th:replace="layouts/footer_f :: public-foot"></footer>
    </body>

</html>
