<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.tymeleaf.org">
    <head th:replace="layouts/header_f :: head"></head>   
    <body>
        <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            <nav th:replace="layouts/sidebar_f :: side" class="sidebar sidebar-offcanvas" id="sidebar"></nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <nav th:replace="layouts/navbar_f :: private-nav" class="navbar p-0 fixed-top d-flex flex-row"></nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row ">
                            <div class="col-12 grid-margin"> 
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="jumbotron jumbotron-fluid">
                                                <div class="container">
                                                    <div class="d-flex align-items-end">
                                                        <div class="col-md-9">
                                                            <h1 class="display-4 text-dark" data-th-text="${minie.nombre_us}+' '+${minie.apellido_us}"></h1>
                                                            <p class="lead text-muted" th:text="${usuarioe.gustos_us != null} ? 'fanatico de '+${minie.gustos_us}:''"></p>                                  
                                                            <p class="lead text-muted" th:text="${minie.carrera_us != null} ? 'Carrera: '+${minie.carrera_us}:''"></p>                                  

                                                        </div>
                                                        <div class="col-md-3 d-flex justify-content-center">
                                                            <div th:if="${minie.avatar!=null}">
                                                                <div class="mb-3">
                                                                    <img th:src="@{/images/avatars/}+${minie.avatar}" alt="" class="img-responsive rounded" style="width: auto; height: auto; max-height: 200px; max-width: 354px;">
                                                                </div>
                                                            </div>
                                                            <div th:if="${minie.avatar==null}">
                                                                <div class="mb-3">
                                                                    <img th:src="@{/images/avatars/uteq.png}" class="img-responsive rounded" style="width: auto; height: auto; max-height: 200px; max-width: 354px;">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>                        
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col-md-8 grid-margin stretch-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="d-flex flex-row justify-content-between">
                                                                <h4 class="card-title mb-1">Informacion personal</h4>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="preview-list">
                                                                        <div class="preview-item border-bottom">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-primary">
                                                                                    <i class="mdi mdi-calendar"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Fecha de nacimiento: </h6>
                                                                                    <p class="text-muted mb-0"th:text="${usuarioe.fc_nac_us}"></p>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="preview-item border-bottom">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-success">
                                                                                    <i class="mdi mdi-account-alert-outline"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Puesto:</h6>
                                                                                    <p class="text-muted mb-0" th:text="${usuarioe.puesto_us == 1} ? 'Profesor':'Alumno'"></p>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="preview-item border-bottom">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-info">
                                                                                    <i class="mdi mdi-school"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Formacion anterior:</h6>
                                                                                    <p class="text-muted mb-0" th:text="${usuarioe.formacion_us}"></p>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="preview-item border-bottom">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-danger">
                                                                                    <i class="mdi mdi-wallet-travel"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Empleo:</h6>
                                                                                    <p class="text-muted mb-0" th:text="${usuarioe.trabajo_us}"></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="preview-item">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-warning">
                                                                                    <i class="mdi mdi-store"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Empresa: </h6>
                                                                                    <p class="text-muted mb-0" th:text="${usuarioe.empresa_us}"></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="preview-item border-bottom">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-primary">
                                                                                    <i class="mdi mdi-earth"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Lugar de nacimiento: </h6>
                                                                                    <p class="text-muted mb-0"th:text="${usuarioe.lugar_nac_us}"></p>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="preview-item border-bottom">
                                                                            <div class="preview-thumbnail">
                                                                                <div class="preview-icon bg-danger">
                                                                                    <i class="mdi mdi-heart"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="preview-item-content d-sm-flex flex-grow">
                                                                                <div class="flex-grow">
                                                                                    <h6 class="preview-subject">Situacion sentimental:</h6>
                                                                                    <p class="text-muted mb-0" th:text="${usuarioe.sentimental_us}"></p>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                   
                                            <h4 class="card-title">Publicacion</h4>  
                                            
                          

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer th:replace="layouts/footer_f :: private-foot"></footer>

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>

    </body>    
</html>
